# History files
.Rhistory
.Rapp.history

# Session Data
.RData
.Ruserdata

# User-specific files
.Rproj.user/

# Secrets and environment variables
.Renviron
.Renviron.local

# R-Studio files
.rstudio-desktop

# Shiny-specific files
rsconnect/
manifest.json
shiny_cache/

# Package management directories
renv/
packrat/

# Log files
*.log
*.log.*

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbs.db and Desktop.ini files (Windows)
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

# R temporary files
*.utf8.md
*.knit.md
